{% extends 'base.html' %}

{% block body %}

<section id="intro">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">The Website for creating<br><span>HTML</span> from Text</h1>
    <p class="mb-4 pb-0">A Simple Django Project</p>
    <a href="input" class="play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
  </div>
</section>

<main id="main">
  <section id="faq" class="wow fadeInUp">

    <div class="container">

      <div class="section-header">
        <h2>How to Convert Text to HTML</h2>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-9">
          <ul id="faq-list">

            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Go to Text Area.
                <i class="fa fa-minus-circle"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>Click on red play button.
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Enter Text.
                <i class="fa fa-minus-circle"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>
                  Enter the text in the textbox area.
                  <br>
                  <b>BOLD</b> - /This is a simple page
                  <br>
                  <hr>
                  <b>Paragraph</b> - This page contains all the basics.
                  <hr>
                  <br>
                  <b>LIST</b>:
                  <br>
                  - This is a list (1st element)
                  <br>
                  - This is the 2nd element
                  <br>
                  - This is the 3rd element
                  <hr>
                  <br>
                  Here is a <b>paragraph</b>. Notice the double line-break.
                  <hr>
                  <br>
                  <b>ITALICS</b> :
                  <br>
                  You can format your text with various styles: *those words will be bold*.
                  If you prefer <b>italic</b>, **it's easy too !**
                  <hr>
                  <br>
                  <b>HEADER </b>:
                  <br>
                  //Here is another title
                  <hr>
                  <br>
                  <b>LINKS </b>:
                  <br>
                  You can embed links, just like this: __http://www.wikipedia.org__
                  <hr>
                  <br>
                  ///You got 3 different title sizes
                  <hr>
                  <br>
                  <b>IMAGE </b>:
                  <br>
                  What about a nice image ?
                  <hr>
                  <br>
                  img__flower.png__Image Title__
                  <hr>
                  <br>
                  <b>Embed tables:</b>
                  <br>
                  !! cell 1 !! cell 2 !! cell 3 !! cell 4 !!
                  !! cell 1b !! cell 2b !! cell 3b !! cell 4b !!
                  !! cell 1c !! cell 2c !! cell 3c !! cell 4c !!


                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Convert
                <i class="fa fa-minus-circle"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>
                  Now click on the Convert button given below.
                </p>
              </div>
            </li>

          </ul>
        </div>
      </div>

    </div>

  </section>
</main>

{% endblock body %}